alias dotfiles="$(cat $HOME/.dotfiles-command.txt)"
alias power-suspend="sudo systemctl suspend"
alias config-i3="vim ~/.config/i3/config"
alias svdvorak="setxkbmap se -variant svdvorak -option caps:swapescape"
alias dot="dotfiles"
alias e=$VISUAL
alias py="python3"
alias qn="quicknote"
