alias :q="exit"
alias config-i3="vim ~/.config/i3/config"
alias dot="dotfiles"
alias dotfiles="$(cat $HOME/.dotfiles-command.txt)"
alias e=$VISUAL
alias latest="ls -t | head -n $1"
alias ls="ls --color=auto"
alias mkdir="mkdir -p"
alias power-suspend="$(which systemctl) suspend"
alias nide="NVIM_IDE=yes nvim -p"
alias py="python3"
alias qn="quicknote"
alias qna="quicknote --all"
alias qnl="quicknote --latest"
alias svdvorak="setxkbmap se -variant svdvorak -option caps:swapescape"
alias t="ttheme"
alias tabe="e -p"
alias u="uptime"
