[submodule ".vim/pack/sampo/start/vim-airline"]
	path = .vim/pack/sampo/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/pack/sampo/start/coc.nvim"]
	path = .vim/pack/sampo/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule ".vim/pack/sampo/start/emmet-vim"]
	path = .vim/pack/sampo/start/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
